In [1]:
import pandas as pd
import numpy as np

#Introduction
##The Dataset

The dataset used for this project was obtained from Kaggle's Drug Consumption Classification. This dataset contains records for 1885 respondents, each with 12 attributes.

In [2]:
pd.options.display.max_columns = 32

df = pd.read_csv('drug_consumption.csv')
df.head(10)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,Cscore,Impulsive,SS,Alcohol,Amphet,Amyl,Benzos,Caff,Cannabis,Choc,Coke,Crack,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,CL5,CL2,CL0,CL2,CL6,CL0,CL5,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,CL5,CL2,CL2,CL0,CL6,CL4,CL6,CL3,CL0,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,CL6,CL0,CL0,CL0,CL6,CL3,CL4,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,CL4,CL0,CL0,CL3,CL5,CL2,CL4,CL2,CL0,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,CL4,CL1,CL1,CL0,CL6,CL3,CL6,CL0,CL0,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
5,6,2.59171,0.48246,-1.22751,0.24923,-0.31685,-0.67825,-0.30033,-1.55521,2.03972,1.63088,-1.37983,-1.54858,CL2,CL0,CL0,CL0,CL6,CL0,CL4,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
6,7,1.09449,-0.48246,1.16365,-0.57009,-0.31685,-0.46725,-1.09207,-0.45174,-0.30172,0.93949,-0.21712,0.07987,CL6,CL0,CL0,CL0,CL6,CL1,CL5,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
7,8,0.49788,-0.48246,-1.73790,0.96082,-0.31685,-1.32828,1.93886,-0.84732,-0.30172,1.63088,0.19268,-0.52593,CL5,CL0,CL0,CL0,CL6,CL0,CL4,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0
8,9,0.49788,0.48246,-0.05921,0.24923,-0.31685,0.62967,2.57309,-0.97631,0.76096,1.13407,-1.37983,-1.54858,CL4,CL0,CL0,CL0,CL6,CL0,CL6,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
9,10,1.82213,-0.48246,1.16365,0.96082,-0.31685,-0.24649,0.00332,-1.42424,0.59042,0.12331,-1.37983,-0.84637,CL6,CL1,CL0,CL1,CL6,CL1,CL6,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0

#Preprocessing data

The original dataset doesn´t have any duplicated entry. We remove all drugs except cannabis from the entries.

In [3]:
n_rows = df.shape[0]
df = df.drop_duplicates()
n_rows_dup = df.shape[0]

print("Original Dataset: ", n_rows)
print("Dropped ", n_rows - n_rows_dup)

drug_col = ['Alcohol', 'Amphet', 'Amyl', 'Benzos', 'Caff', 'Choc', 'Coke', 'Crack', 'Ecstasy', 'Heroin', 'Ketamine', 'Legalh', 'LSD', 'Meth', 'Mushrooms', 'Nicotine', 'Semer', 'VSA']
df = df.drop(columns=drug_col) #Remove all drugs except cannabis

for n in df.index:
    age = df.loc[n, "Age"]
    gender = df.loc[n, "Gender"]
    education = df.loc[n, "Education"]
    country = df.loc[n, "Country"]
    ethnicity = df.loc[n, "Ethnicity"]
    nscore = df.loc[n, "Nscore"]
    escore = df.loc[n, "Escore"]
    oscore = df.loc[n, "Oscore"]
    ascore = df.loc[n, "Ascore"]
    cscore = df.loc[n, "Cscore"]
    impulsive = df.loc[n, "Impulsive"]
    sensation = df.loc[n, "SS"]

    #Age conversion
    if age == -0.95197:
        df.loc[n, "Age"] = "18 - 24"
    elif age == -0.07854:
        df.loc[n, "Age"] = "25 - 34"
    elif age == 0.49788:
        df.loc[n, "Age"] = "35 - 44"
    elif age == 1.09449:
        df.loc[n, "Age"] = "45 - 54"
    elif age == 1.82213:
        df.loc[n, "Age"] = "55 - 64"
    else:
        df.loc[n, "Age"] = "65+"

    #Gender conversion
    if gender == 0.48246:
        df.loc[n, "Gender"] = "F"
    else:
        df.loc[n, "Gender"] = "M"

    #Education converion
    if education == -2.43591:
        df.loc[n, "Education"] = "LSB16" #Left School Before 16 years
    elif education == -1.73790:
        df.loc[n, "Education"] = "LS16"  #Left School at 16 years
    elif education == -1.43719:
        df.loc[n, "Education"] = "LS17"  #Left School at 17 years
    elif education == -1.22751:
        df.loc[n, "Education"] = "LS18"  #Left School at 18 years
    elif education == -0.61113:
        df.loc[n, "Education"] = "SCNcd" #Some College,No Certificate Or Degree
    elif education == -0.05921:
        df.loc[n, "Education"] = "PCD"   #Professional Certificate/ Diploma
    elif education == 0.45468:
        df.loc[n, "Education"] = "UD"    #University Degree
    elif education == 1.16365:
        df.loc[n, "Education"] = "MD"    #Masters Degree
    else:
        df.loc[n, "Education"] = "DD"    #Doctorate Degree

    #Country conversion
    if country == -0.09765:
        df.loc[n, "Country"] = "Australia"
    elif country == 0.24923:
        df.loc[n, "Country"] = "Canada"
    elif country == -0.46841:
        df.loc[n, "Country"] = "New Zealand"
    elif country == -0.21128:
        df.loc[n, "Country"] = "Republic of Ireland"
    elif country == 0.96082:
        df.loc[n, "Country"] = "UK"
    elif country == -0.57009:
        df.loc[n, "Country"] = "USA"
    else:
        df.loc[n, "Country"] = "Other"


df.head(10)

Original Dataset:  1885
Dropped  0

C:\Users\USER\AppData\Local\Temp\ipykernel_22016\2511950812.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '35 - 44' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[n, "Age"] = "35 - 44"
C:\Users\USER\AppData\Local\Temp\ipykernel_22016\2511950812.py:41: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'F' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[n, "Gender"] = "F"
C:\Users\USER\AppData\Local\Temp\ipykernel_22016\2511950812.py:57: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'PCD' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[n, "Education"] = "PCD"   #Professional Certificate/ Diploma
C:\Users\USER\AppData\Local\Temp\ipykernel_22016\2511950812.py:75: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'UK' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[n, "Country"] = "UK"

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,Cscore,Impulsive,SS,Cannabis
0,1,35 - 44,F,PCD,UK,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,CL0
1,2,25 - 34,M,DD,UK,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,CL4
2,3,35 - 44,M,PCD,UK,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,CL3
3,4,18 - 24,F,MD,UK,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,CL2
4,5,35 - 44,F,DD,UK,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,CL3
5,6,65+,F,LS18,Canada,-0.31685,-0.67825,-0.30033,-1.55521,2.03972,1.63088,-1.37983,-1.54858,CL0
6,7,45 - 54,M,MD,USA,-0.31685,-0.46725,-1.09207,-0.45174,-0.30172,0.93949,-0.21712,0.07987,CL1
7,8,35 - 44,M,LS16,UK,-0.31685,-1.32828,1.93886,-0.84732,-0.30172,1.63088,0.19268,-0.52593,CL0
8,9,35 - 44,F,PCD,Canada,-0.31685,0.62967,2.57309,-0.97631,0.76096,1.13407,-1.37983,-1.54858,CL0
9,10,55 - 64,M,MD,UK,-0.31685,-0.24649,0.00332,-1.42424,0.59042,0.12331,-1.37983,-0.84637,CL1